div.iiif-collection-photo-wall {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: black;
	padding: 20px;
	min-height: 500px;
	overflow: hidden;
	font-family: sans-serif;
}

div.iiif-collection-photo-wall div.tile {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 220px;
}

div.iiif-collection-photo-wall summary {
	display: block;
	cursor: pointer;
}

div.iiif-collection-photo-wall details div.image {
	position: fixed;
	background-color: rgb(197, 232, 108);
	border-color: rgb(197, 232, 108);
	border-width: 10px;
	border-style: solid;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 600px;
	background-repeat: no-repeat;
	background-position-x: center; 
	background-position-y: center; 
	background-origin: content-box;
	background-size: contain;
}

div.iiif-collection-photo-wall img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	left: 0;
	right: 0;
}

div.iiif-collection-photo-wall table.metadata {
	font-size: small;
}

div.iiif-collection-photo-wall table.metadata tr {
	background-color: rgba(197, 232, 108, 0.5);
}

div.iiif-collection-photo-wall table.metadata th {
	padding: 0.25em;
	vertical-align: top;
	text-align: right;
}

div.iiif-collection-photo-wall table.metadata td {
	padding: 0.25em;
	vertical-align: top;
	text-align: left;
}

div.iiif-collection-photo-wall button.close {
	float: right;
	font-weight: bold;
}

div.iiif-collection-photo-wall p.iiif-homepage {
	text-align: center;
}

div.iiif-collection-photo-wall p.iiif-homepage a {
	display: inline-block;
	padding: 0.5em;
	text-decoration: none;
	background-color: rgb(197, 232, 108);
}

div.iiif-collection-photo-wall ul.iiif-metadata-value {
	padding: 0;
	margin: 0;
	list-style-type: none;
}