form.query-builder {
	font-family: sans-serif;
	font-size: 11pt;
}

form.query-builder fieldset {
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(197, 232, 108);
	margin-bottom: 1em;
	border: none;
}

form.query-builder label {
	display: block;
	font-size: 0.8em;
	margin: 0.2em;
}

form.query-builder legend {
	background-color: rgb(197, 232, 108);
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

form.query-builder fieldset div {
	margin: 0.5em;
}

form.query-builder button {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

form.query-builder a.display-url {
	text-decoration: none;
}

/* popup help */
form.query-builder details summary {
	text-decoration: underline dotted;
	cursor: help;
	display: inline;
}
form.query-builder details {
	position: relative;
}
form.query-builder details div {
	background-color: white;
	padding: 1em;
	border-radius: 1em;
	border-color: black;
	border-style: solid;
	border-width: medium;
	position: absolute;
	bottom: 1em;
	left: 0;
	min-width: 18em;
	font-size: 8pt;
}